@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Address Finder</h1>
    <p class="lead">Welcome to the Address Finder, click here to start searching!</p>
    <p><a href="@Url.Action("Index", "Address")" class="btn btn-primary btn-lg">Start Searching! &raquo;</a></p>
</div>