@model IEnumerable<AddressSearcher.Models.Address>

@{
    ViewBag.Title = "Closest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Closest</h2>

<table class="table	table-bordered	table-hover">
    <thead>
        <tr>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>@address.Name</td>
            </tr>
        }
    </tbody>
</table>